<div id="r">
  <div id="x">
    <b class="title">Задание №1</b>

    <div class="step" *ngIf="step === 0">
      <div class="task">
        Вам, конечно, знаком человек, изображённый на этой фотографии. Это Юрий
        Алексеевич Гагарин (1934–1968) – первый космонавт.
        Выразительно прочитайте текст о Юрии Алексеевиче Гагарине вслух.
        <br>
        <p>У Вас есть 2 минуты на подготовку.</p>
        <button (click)="nxt('radial-gradient(rgb(255, 111, 0), rgb(255, 72, 0))', 'rgb(255, 81, 0)', '0.9', '90'); tmr(10)">
          Дальше
        </button>
      </div>
    </div>
    <div class="step" *ngIf="step === 1">
      <div class="task">
        Кандидаты в первый отряд космонавтов набирались среди военных
        лётчиков-истребителей по решению Сергея Павловича Королёва,
        считавшего, что именно эти лётчики уже имеют опыт перегрузок, стрессовых
        ситуаций и перепадов давления. Их было 20 молодых лётчиков, которых
        готовили к первому полёту в космос. Юрий Гагарин был одним из них.<br><br>
        Когда началась подготовка, никто не мог даже предположить, кому из
        них предстоит открыть дорогу к звёздам. Надёжный, сильный
        и доброжелательный, Юрий никому не завидовал, никого не считал лучше
        или хуже себя. Он легко брал на себя инициативу, работал упорно
        и с удовольствием.<br><br>
        12 апреля 1961 года в 9 часов 7 минут по московскому времени
        с космодрома Байконỳр стартовал космический корабль «Восток» с пилотомкосмонавтом Юрием Алексеевичем Гагариным на борту. Вскоре весь мир
        увидел кадры кинохроники, ставшие историей: подготовка к полёту,
        спокойное и сосредоточенное лицо Юрия Гагарина перед шагом
        в неизвестность, его знаменитое «Поехали!».<br><br>
        Смелость и бесстрашие простого русского парня с широкой улыбкой
        покорили всё человечество. Продолжительность полёта Гагарина равнялась
        108 минутам. Всего 108 минут. Но не количество минут определяет вклад
        в историю освоения космоса. Юрий Гагарин был первым и останется им
        навсегда!

        <button (click)="nxt('radial-gradient(rgb(255, 111, 0), rgb(255, 72, 0))', 'rgb(255, 81, 0)', '0.5', '90'); tmr(-1)">
          Дальше
        </button>
      </div>
    </div>
    <div class="step" *ngIf="step === 2">
      <div class="task">
        Сейчас включится запись голоса. Вам нужно прочитать текст.<br>
        Пожалуйста проверьте свой микрофон прежде, чем приступить к заданию.
        <button (click)="nxt('radial-gradient(rgb(255, 30, 0), rgb(255, 50, 0))', 'rgb(255,0,0)', '0.9', '90'); tmr(-1)">
          Дальше
        </button>
      </div>
    </div>
    <div class="step" *ngIf="step === 3">
      <div class="task" id="texttoread">
        Кандидаты в первый отряд космонавтов набирались среди военных
        лётчиков-истребителей по решению Сергея Павловича Королёва,
        считавшего, что именно эти лётчики уже имеют опыт перегрузок, стрессовых
        ситуаций и перепадов давления. Их было 20 молодых лётчиков, которых
        готовили к первому полёту в космос. Юрий Гагарин был одним из них.<br><br>
        Когда началась подготовка, никто не мог даже предположить, кому из
        них предстоит открыть дорогу к звёздам. Надёжный, сильный
        и доброжелательный, Юрий никому не завидовал, никого не считал лучше
        или хуже себя. Он легко брал на себя инициативу, работал упорно
        и с удовольствием.<br><br>
        12 апреля 1961 года в 9 часов 7 минут по московскому времени
        с космодрома Байконỳр стартовал космический корабль «Восток» с пилотомкосмонавтом Юрием Алексеевичем Гагариным на борту. Вскоре весь мир
        увидел кадры кинохроники, ставшие историей: подготовка к полёту,
        спокойное и сосредоточенное лицо Юрия Гагарина перед шагом
        в неизвестность, его знаменитое «Поехали!».<br><br>
        Смелость и бесстрашие простого русского парня с широкой улыбкой
        покорили всё человечество. Продолжительность полёта Гагарина равнялась
        108 минутам. Всего 108 минут. Но не количество минут определяет вклад
        в историю освоения космоса. Юрий Гагарин был первым и останется им
        навсегда!

        <button (click)="nxt('radial-gradient(rgb(255, 111, 0), rgb(255, 72, 0))', 'rgb(255, 81, 0)', '0.5', '90'); tmr(-1)">
          Дальше
        </button>
      </div>
    </div>

  </div>
  <div id="indicator"><div id="timer" innerText="2:00"></div><div *ngIf="step === 3">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 435.2 435.2" style="enable-background:new 0 0 435.2 435.2; fill: white; width: 30px; margin-left: 30px; margin-top: 30px;" xml:space="preserve">
<g>
	<g>
		<path d="M356.864,224.768c0-8.704-6.656-15.36-15.36-15.36s-15.36,6.656-15.36,15.36c0,59.904-48.64,108.544-108.544,108.544
			c-59.904,0-108.544-48.64-108.544-108.544c0-8.704-6.656-15.36-15.36-15.36c-8.704,0-15.36,6.656-15.36,15.36
			c0,71.168,53.248,131.072,123.904,138.752v40.96h-55.808c-8.704,0-15.36,6.656-15.36,15.36s6.656,15.36,15.36,15.36h142.336
			c8.704,0,15.36-6.656,15.36-15.36s-6.656-15.36-15.36-15.36H232.96v-40.96C303.616,355.84,356.864,295.936,356.864,224.768z"/>
	</g>
</g>
      <g>
	<g>
		<path d="M217.6,0c-47.104,0-85.504,38.4-85.504,85.504v138.752c0,47.616,38.4,85.504,85.504,86.016
			c47.104,0,85.504-38.4,85.504-85.504V85.504C303.104,38.4,264.704,0,217.6,0z"/>
	</g>
</g>
    </svg>
  </div></div>
  <div id="r1"></div>
  <div id="r2"></div>
  <div id="r3"></div>
  <div id="r4"></div>
  <div id="r5"></div>
</div>
